.box{
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box h2{
    font-size: 3.5rem;
    font-weight: 700;
    color: #007F81;
}

.box p{
    font-size: 0.8rem;
    font-weight:400;
    color: #a9c3cc;
}
