.contact{
    background-image: linear-gradient(to right bottom, #06283d, #005268);
    width: 100%;
}
.text-box{
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
}
.text-box h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #D3F4FF,  #A8FFC8);
    background-clip: text;
    color: transparent;
}

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    
}
.contact-container{
    padding: 5rem 9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.first-column{
    background-color: orangered;
    justify-self: end;
}
.second-column{
    background-color: brown;
    justify-self: start;
}