
.header {
    position:fixed;
    display: flex;
    justify-content: space-between;
    background-color: #005268;
    height: 6rem;
    width: 100%;
}
.image-container {
    display: flex;
    align-items: center;
    margin-left: 7rem;
}
.logo{
    height: 4rem;
    margin-bottom: 0.7rem;

}
.nav-container{
    margin-right: 7rem;
    display: flex;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    font-size: 1rem;
}
.top-nav-bar {
    padding: 0.3rem 0;
    backface-visibility: hidden;
}

.top-nav-bar:hover{
    animation: underline 0.5s;
    border-bottom: 2px solid #1e9bff;
}

@keyframes underline{
    0% {
        border-bottom: 2px solid #D3F4FF;
    }
    100% {
        border-bottom: 2px solid #1e9bff;
    }
}