
.header {
    position:fixed;
    display: flex;
    justify-content: space-between;
    background-color: #005268;
    height: 6rem;
    width: 100%;
    z-index: 10;
    padding: 0 9rem;
}
.image-container {
    display: flex;
    align-items: center;
}
.logo{
    height: 4rem;
    cursor: pointer;


}
.nav-container{
    display: flex;
    
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 2rem;
    
}
.top-nav-bar {
    padding: 0.3rem 0;
    backface-visibility: hidden;
    cursor: pointer;
}

.top-nav-bar:hover{
    animation: underline 0.5s;
    border-bottom: 2px solid #1e9bff;
}

@keyframes underline{
    0% {
        border-bottom: 2px solid #D3F4FF;
    }
    100% {
        border-bottom: 2px solid #1e9bff;
    }
}