.portfolio{
    background-color: #D3F4FF;
    
}

.text-box{
    text-align: center;
    padding-top: 6rem;
}
.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #06283d,  #005268);
    background-clip: text;
    color: transparent;

}

.card-container{
    padding: 10rem 9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}
